@use 'src/SASS/variables';

.header__logo {
  line-height: 0px;
}

.header__logo:focus {
  outline: none;
}

.header__logo:focus-visible {
  outline: 2px solid variables.$focus-color;
  border-radius: 4px;
}