$text-color: #000;
$text-main-size: 16px;
$card-background-color: #3D348B;
$focus-color: #808080;
$card-text-min-size: 13px;
$card-text-max-size: 19px;
$color-white: #fff;
$color-blue: #5DB7DE;
$color-purple: #3D348B;