@use 'src/SASS/variables';

.header__input-search {
  min-block-size: 25px;
  border: 2px solid transparent;
  border-block-end: 1px solid rgba(51, 51, 51, 0.5);
}

.header__input-search:focus {
  outline: none;
}

.keyboard-focus {
  border: 2px solid variables.$focus-color;
  border-radius: 4px;
}