.content__first-screen {
  display: flex;
  gap: 134px;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-inline: 312px;
}