@use 'src/SASS/variables';

.custom-select {
  position: relative;
}

.header__select {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.custom-select::after {
  content: '';
  position: absolute;
  display: block;
  inset: 5px 28px;
  width: 10px;
  height: 10px;
  background-color: white;
}

.custom-select::after {
  content: '';
  position: absolute;
  display: block;
  inset: 5px 28px;
  width: 10px;
  height: 10px;
  background-image: url(./images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.header__select:focus {
  outline: none;
}

.header__select:focus-visible {
  outline: 2px solid variables.$focus-color;
  border-radius: 4px;
  border-color: transparent;
}
