.custom-select {
  position: relative;
}

.header__select {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-select::after {
  content: '';
  position: absolute;
  display: block;
  inset: 5px 28px;
  width: 10px;
  height: 10px;
  background-color: white;
  //pointer-events: none;
}

.custom-select::after {
  content: '';
  position: absolute;
  display: block;
  inset: 5px 28px;
  width: 10px;
  height: 10px;
  background-image: url(./images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}
