.first-screen__description-box {
  display: flex;
  width: 526px;
  flex-direction: column;
  align-items: flex-start;
  padding-block-start: 180px;
  padding-block-end: 234px;
  min-inline-size: 526px;
}